/* ==============================
   ESTILOS GENERALES
   ============================== */
   body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #153B4C;
}


/* ==============================
   SECCIÓN DE VALORES
   ============================== */
   .valores-section {
    background-color: #A2B8C9;
    padding: 20px;
    border-radius: 10px;
}

.valor-icon {
    width: 80px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.valores-section p {
    font-size: 18px;
    font-weight: 500;
    color: #153B4C;
}

/* ==============================
   INFO BOX (Misión y Visión)
   ============================== */
.info-box {
    background-color: #A2B8C9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-box h3 {
    color: #153B4C;
    font-weight: 600;
}

.info-box p {
    color: #386578;
    font-size: 16px;
}

/* ==============================
   SECCIÓN ACERCA DE NOSOTROS
   ============================== */
.about-text {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    color: #386578;
    line-height: 1.8;
    text-align: center;
}

.cards {
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* 2 columnas en pantallas mayores a 576px */
@media (min-width: 576px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3 columnas en pantallas mayores a 768px */
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 4 columnas en pantallas mayores a 992px */
@media (min-width: 992px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 6 columnas en pantallas mayores a 1200px */
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(6, 1fr);
    }
}

h5 {
    color: #153B4C;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

h6 {
    color: #386578;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.card > img {
    width: 100%;
}

.card > header {
    padding: 30px;
}

.card-img-top {
    width: 15em;
    background-color: #D6E1EC;
}

.card:hover {
    transform: scale(1.1);
}

.cart-link {
    color: #A2B8C9;
}



/* ==============================
   ESTILOS GENERALES DE TEXTOS
   ============================== */
h2 {
    color: #153B4C;
    font-weight: 600;
}

h3 {
    color: #153B4C;
    font-weight: 600;
}


