
.search-bar {
    border-radius: 25px;  /* Ajusta la curvatura de los bordes */
    border: 1px solid #A2B8C9; /* Ajusta el color del borde */
    padding: 8px 15px; /* Ajusta el espaciado interno */
    /*width: 300px; /* Ajusta el ancho */

}

.search-btn {
    border-radius: 25px; /* Ajusta la curvatura de los bordes */
    background-color: #386578; /* Ajusta el color de fondo */
    border: none; /* Elimina el borde */
    color: white; /* Ajusta el color del texto */
}

.search-btn:hover {
    background-color: #4a859e; /* Ajusta el color de fondo al pasar el cursor */
}

.nav-link {
    color: #153B4C !important; /* Ajusta el color del texto */
    font-weight: 500; /* Ajusta el peso de la fuente */
}

.nav-link:hover {
    color: #1F5673 !important; /* Ajusta el color del texto al pasar el cursor */
}

.bg-light {
    background-color: #F7F9FB !important; /* Ajusta el color de fondo */
    border-bottom: 1px solid #D6E1EC; /* Ajusta el borde inferior */
}

.carousel-caption{
    margin-block-end: 15em;
    margin-inline-start: -8em;

}


/* Estilos generales para el menú de usuario */
.user-menu {
    display: flex; 
    align-items: center;
}

/* Estilos para el botón de usuario */
.user-btn {
    background-color: transparent;
    border: none;
    color: #153B4C;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-btn:hover {
    color: #386578;
}

/* Estilos para el ícono de usuario */
.user-icon {
    font-size: 24px;
    color: #153B4C;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #D6E1EC;
    border: 1px solid #A2B8C9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #153B4C;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #A2B8C9;
    color: #153B4C;
    border-radius: 5px;
}

/* Estilos para el menú de navegación secundario */
.secondary-navbar {
    background-color: #153B4C !important;
    padding: 10px;
}

.secondary-navbar .navbar-nav .nav-link {
    color: #F7F9FB !important;
    font-weight: 500;
    padding: 5px 50px;
}

.secondary-navbar .navbar-nav .nav-link:hover {
    color: #D6E1EC !important;
}


/* Estilos para el footer */
.footer {
    background-color: #153B4C;
    color: white;
    padding: 15px;
}

.footer nav a {
    color: #D6E1EC;
    text-decoration: none;
    margin: 0 10px;
}

.footer nav a:hover {
    text-decoration: underline;
}

.bi-list-nav{
    font-size: 2rem;
    color: white;
}


.form-control {
    background-color: white;
}