*{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1{
  font-size: 32px;
  font-weight: 600;
  color:#153B4C;
  text-align: center;
}

body{
  overflow-x: hidden;
}

.botonbanner {
    
  background-color: #021E2A;
  color: #fff; /* Blanco */
  padding: 5px 15px; /* Ajusta el padding para el tamaño */
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  transition:#1F5673 0.3s ease; 
  box-shadow: #4a859e /* Sombra */
}



/*Carrusel Logotipos*/

.slider{
  width: 150vw;
  overflow: hidden;
  position: relative;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
}

.slider .slider-track{
  display: flex;
  margin-right: 36px;
  gap: 2rem;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite; 
  width: calc(300px * 24); 
}

.slider .slide{
  width: 200px;
}

.slider .slide img {
  max-width: 100%; 
  height: 50px;
}

@keyframes scroll {
  0%{
    -webkit-transform: translatex(0);
    transform: translatex(0);

  }
  100%{
    -webkit-transform: translatex(calc(-200px * 12)); 
    transform: translatex(calc(-200px * 12));

  }
}
/*aqui termina el carrusel infinito de logos*/

/*Banner de beneficios*/
.beneficios{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 500px;
  max-width: 1512px;
  background-color: #dde7ee;
  justify-content: center;
  margin-bottom: 100px;
}

.txt{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 490px;

  & > h5{
    font-size: 32px;
    font-weight: 600;
    color: #021e2a;
  }
  & > p{
    font-size: 18px;
    color: #153B4C;
  }
}

.imagenSobrepuesta {
  width: 40%;
  max-width: 497px;  /* Limitamos el tamaño máximo */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 229px;
}

.imagenSobrepuesta img {
  width: 100%;  /* La imagen ocupa todo el ancho del contenedor */
  max-width: 497px;  /* Tamaño máximo para evitar imágenes muy grandes */
  height: auto;  /* Mantiene la proporción */
  object-fit: contain;
}


/* Responsividad banner-beneficios*/
@media (max-width: 1024px) {
  .beneficios {
    position: relative;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5% 5%;
    gap: 1rem;
    margin-bottom: 25px;
  }

  .txt {
    width: 100%;
    align-items: left;
    text-align: left;
    gap: 1rem;
    
  }

  #botónExploraAhora{
    padding: 10px 20px;
    font-size: 14px;
    
  }

  .imagenSobrepuesta {
    width: 100%;
  }

  .imagenSobrepuesta img {
    max-width: 80%;
  }
}
.activo{
  text-decoration: none;
}
@media (max-width: 768px) {
  
    & > h5 {
    font-size: 24px;
  }

   & > p {
    font-size: 14px;
  }

  #botónExploraAhora{
    padding: 8px 16px;
    font-size: 12px;
  }

  .imagenSobrepuesta img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  & > h5 {
    font-size: 20px;
  }

  & > p {
    font-size: 12px;
  }
}
/*aqui termina el banner de beneficios*/

/*testimonios*/

.testimonios{
  position: relative;
  padding: 100px 0;
  gap: 40px;
  margin-bottom: 100px;
}
.title{
    font-size: 32px;
    font-weight: 600;
    color:#153B4C;
    text-align: center;
    
}

.testimonials-item{
  background-color: #dde7ee;
  padding: 30px;
  border-radius: 16px;
  }
.testimonials-item .info{
  display: flex;
  align-items: center;
}
  .testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align:middle;
  }

.testimonials-item h3{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #386578;
  line-height: 1.2;
}
.testimonials-item p{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #021E2A;
}

.testimonials-item .rating{
  margin-top: 15px;
  font-size: 14px;
  color: #FFB828;
}

.testimonials .swiper-pagination{
  position: absolute;
  margin-top: 20px;
  bottom: auto;
  display: flex;
  gap: 10px;
}

.testimonials .swiper-pagination-bullet{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #386578;
  opacity: 0.7;
  transition: background-color 0.3 ease; 
}
/*aqui terminan los testimonios*/

/*productos nuevos*/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h1{
  margin: 0;
}

.boton-texto{
  background: none;
  border: none;
  color: #4a859e;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}

.ContainerproductosNuevos{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 24px;
  max-width: 1250px;
  height: 600px;
  scroll-snap-type: x mandatory ;
  scroll-padding: 2px;
  border-radius: 16px;
  gap: 12px;
  margin: 2rem auto;
  margin-bottom: 100px;
}

.ContainerproductosNuevos .slider-item{
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  width: 357px;
  padding: 24px;
  border-radius: 16px;
  scroll-snap-align: start;
  }

  .slider-item img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  *{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
  }

  @media (max-width: 768px){
    .ContainerproductosNuevos .slider-item {
      flex: 0 0 calc(100% / 2- 12px);
      max-width: calc(100% / 2- 12px);
    }

    @media (max-width: 480px){
      .ContainerproductosNuevos .slider-item {
        flex: 0 0 100%;
        max-width: 100%;
      }
  }
}
/*aqui terminan los productos nuevos*/
  
/* banner principal */
  .carousel-content {
    display: flex;
    max-width: 100%; 
    padding: 5% 10%;
    height: 500px;
  }

  .text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  
    & > h2{
      font-size: 32px;
      font-weight: 600;
      color: #dde7ee;
    }
    & > p{
      font-size: 18px;
      color: #dde7ee;
    }
  
  }

/* banner principal */
.carousel-content {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 500px; /* Ajusta la altura del carrusel */
}
/* banner principal */
.text-content {
  padding: 18px;
  text-align: left;

}
/* estilos primer slice */
.carousel-item:nth-child(1) {
  background-color: #386578; /* Azul oscuro */
  color: white;
  min-height: 500px;
}
/*  estilos segundo slice banner  */
.carousel-item:nth-child(2) {
  background-color: #153B4C; /* Azul medio */
  color: black;
  min-height: 500px;
}
/* estilos tercer slice banner */
.carousel-item:nth-child(3) {
  background-color: #A2B8C9; /* Azul claro */
  color: white;
  min-height: 500px;
}

.image-content img {
  max-height: 100%;
  object-fit: cover;
}


  
  /* Estilos para móvil */
  @media (max-width: 768px) {
    .carousel-content {
    position: relative;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5% 5%;
    gap: 1rem;
    }
    .text-content {
    order: 1;
    width: 100%;
    align-items: left;
    text-align: left;
    gap: 1rem;
    }
    .image-content {
        order: 2;
    }
  }
  /* boton banner  */
  .btn-custom {
  
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    letter-spacing: 1.5px;
  }
  
  .activo {
    background-color: #021E2A; /* Azul oscuro */
    color: white;
  
  }
  
  .inactivo {
    background-color: #153B4C; /* Gris */
  color: #fff;
  }
  
.btn {
  padding: 12px 30px;
  letter-spacing: 1.5px;
}

   /* aqui termina el  banner principal*/

/*servicios*/
.containerServicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 115px;
  background-color: #D6E1EC;
  background-size: 1512px 300px;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 100px; 
}

.card {
  background-color: #fff;
  width: 219px;
  height: 166px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card img {
  width: 65px;
  height: 70px;
  margin-bottom: 25px;
}

.card h3 {
  font-size: 14px;
  color: #1F5673;
  font-weight: 600;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

 @media (max-width: 768px) {
    .card img {
      width: 50px; /* Reducimos tamaño en móviles */
    }
  }
/*aqui terminan los servicios*/  



   /* metodo de pago */
   .payment-methods {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
  }
  
  .payment-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px; /* Espacio entre imágenes */
  }
  
  .payment-logos img {
    width: 120px; /* Tamaño base en PC */
    height: auto;
    max-width: 100%;
    
  }
  
  /* Versión móvil */
  @media (max-width: 768px) {
    .payment-logos img {
      width: 50px; /* Reducimos tamaño en móviles */
    }
  }
  
  
 /* aqui termina metodo de pago  */