body {
    font-family: 'Poppins', sans-serif;
    background-color: #386578;
    color: #153B4C;
}


#titulo-registro {
    font-size: 22PX;
    color: white;
    text-align: center;
    margin-left: 25px;
}

/* Estilos del icono users responsivo */
#icono_users {
    background-color: transparent;
    border: #386578;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

/* Estilos del botón */
#boton_crear_cuenta {
    border: 15px #639CC7;
    background: #021E2A;
    font-family: 'poppins';
    font-size: 18px;
    border-radius: 53px;
    width: 180px;
    margin-top: 10px;
    height: 47px;
    margin-bottom: 15px;
}

#boton_crear_cuenta:hover {
    box-shadow: 0 0 10px #639CC7;
}

/* inputs para introducir datos */
#nombre,
#correo,
#contraseña,
#numero_de_telefono,
#ConfirmaContraseña {
    background: #A2B8C9;
    border-radius: 63.41px;
    border-color: #A8AEB4;
    margin-bottom: 30PX;
    font-size: 13px;
    height: 40px;
    width: 90%;
    margin-left: 25px;
}

.form-label {
    color: white;
    font-size: 13px;
    text-align: left;
    display: block;
    margin-left: 25px;
}

/* texto forma parte de la comunidad*/
#copy {
    color: white;
    font-size: 14px;
    text-align: justify;
    display: block;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 20px;
}

#forma-parte {
    color: white;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-left: 25px;
}

/* imagen de registro responsiva */
.img-registro,
.background {
    width: 117%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

/* Para ajustar a pantallas pequeñas */
@media (max-width: 768px) {

    .img-registro,
    .background {
        flex-direction: column;
        order: 1;
        /* Coloca la imagen arriba */
        width: 100%;
        height: 300px;
    }

    #registro {
        flex-direction: column;
        order: 2;
        /*Ordena el div de registro abajo*/
        margin-top: -100px;
        /* sobrepone el div */
        left: 0;
        width: 90%;

    }

    #nombre,
    #correo,
    #contraseña,
    #numero_de_telefono,
    #ConfirmaContraseña {
        align-content: center;
        height: 40px;
        width: 100%;
    }

    #icono_users,
    #boton_crear_cuenta,
    #ya_tienes_cuenta,
    #titulo-registro {
        margin-left: 40px;

    }

    #registro-exitoso {
        margin-left: 100px;
    }

    #error-registro {
        margin-left: 100px;
    }
}

/* Para ajustar a pantallas medianas */
@media (min-width:768px) and (max-width:1024px) {
    .img-registro {
         width: 60px;
         height: 100%;
         margin-right: -50%;
    }
    #error-registro,
    #registro-exitoso {
        margin-left: 40px;
    }
    .form-check-input,
    .form-check{
        margin-left: -100px;
        text-align: center;
    }
    
}

/* Estilos del link Iniciar Sesión */
#link-iniciar-sesión,
#ya_tienes_cuenta {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

#link-iniciar-sesión:hover {
    text-decoration: underline;
}

/*ajustes aceptar terminos y condiciones*/

.form-check {
    color: #A2B8C9;
    font-size: 11px;
    margin-left: 35%;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 5px;
}

/*======Estilos textos de validación=====*/
.error {
    /*cuando está inactivo */
    font-size: 12px;
    margin-top: -25px;
    display: none;
    color: #A2B8C9
}

.error-activo {
    display: block;
}

.error-registro{
    /*cuando está inactivo */
    border-radius: 10px;
    width: 60%;
    margin-left: 130px;
    font-size: 13px;
    color: rgb(146, 19, 19);
    padding-bottom: 01px;
    display: none;
}



.error-registro-activo {
    display: block;
}

.registro-exitoso {

    border-radius: 10px;
    border: 10px;
    width: 60%;
    text-align: center;
    margin-left: 130px;
    font-size: 15px;
    color:#153B4C;
    padding-bottom: 01px;
    display: none; 
}

.registro-exitoso-activo {
    display: block;
}